body {
   background-color:#9ff0f2;
   position: relatives;
   font-family: 'PT Sans', sans-serif;
   z-index: 2;
}

h1 {
   font-family: 'Zilla Slab', sans-serif;
   color: black;
   font-weight: 200;
}


#desc {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 80px;
}

#homeIcon {
   position: absolute;
   right: 5%;
   top: 5%;
   width: 50px;
   opacity: 50%;
}

.nodeInput {
   position: absolute;
   width: 150px;
   left: 40%;
  
}

#nodeToRemove {
   margin-top: 3px;
}

.buttons {
   position:absolute;
   left: 175px;
}

#bodycontainer {
   position: relative;
   width: 120%;
   height: 150%;
   margin: -20px;
   padding: 50px 100px;
   top: 20%;
   background-color: mintcream;
   z-index: 1;
}

#nav {
   position: absolute;
   top: 187px;
   left: 44%;
   z-index:2; 
}

.navitem {
   margin: 0 auto;
   position: relative;
   background-color: #ffe7ac;
   padding: 10px;
   border-top-right-radius: 10px;
}

li {
   list-style: none;
   display:inline-block;
}


#pgtitle {
   margin: 0 auto;
   left: 50%;
   transform: translateX(-50%);
   top: 5%;
   position: absolute;
   display: block;
}


input {
   border-radius: 5px;
}


