body {
   background-color:#9ff0f2;
   position: relative;
   font-family: 'PT Sans', sans-serif;
}

h1 {
   font-family: 'Zilla Slab', sans-serif;
   color: white;
   font-weight: 200;
   position:relative;
   margin: 0 auto;
   left: 50%;
   transform: translateX(-50%);
   background-color: black;  
   width: 100%;
}

   
#container {
 max-width: 800px;
 height: 800px;
 margin: auto;
 top: 250px;
 background-color: white;
  }
   
#jsontext {
   width: 200px;
   border-radius: 2px;
   height: 260px;
}

/*
#tutorial {
   background-color: #e1efee;
   border-radius: 2px;

   width: 200px;
   padding: 20px;
   overflow: scroll;
}
*/

#addNodeMenu {
   padding: 10px;
   background-color: lightgrey;
}

#rightContainer {
   position: absolute;
   top: 5px;
   left: 15px;
   width: 250px;
   overflow: scroll;
   background-color: whitesmoke;
}